body {margin: 0; padding: 0;}


/* VISUAL STYLINGS - CHANGE AT WILL */
/* add class 'vertical' to nav for vertical top level menu */
/* font and colors*/

p, h1, h3, h4, h5, h6 {margin-bottom: 1em;
						}

	@font-face{
		font-family: 'BebasNeue Regular.otf';
		src: url('fonts/BebasNeue Regular.otf');
		}
	@font-face{
		font-family: 'KBSFEdge-HeavyItalic.ttf';
		src: url('fonts/KBSFEdge-HeavyItalic.ttf');
		}
	@font-face{
		font-family: 'Moriston-Regular.otf';
		src: url('fonts/Moriston-Regular.otf');
		}
	@font-face{
		font-family: 'BebasKai-Regular.otf';
		src: url('fonts/BebasKai-Regular.otf');
		}
	@font-face{
		font-family: 'JosefinSans-Regular.ttf';
		src: url('fonts/JosefinSans-Regular.ttf');
		}

background-repeat:no-repeat;

div#wrapper {
	margin: 2% 2%;

}


	header#main-head img {
			clear: float;
			padding: 0em;
			margin: 2em 2em;
			width: 25%;
		}


	header#main-head h2 {
			text-align: center;
			font-family: 'bc-alphapipe', sans-serif;
			clear: float;
			color: #017D8D;  /*light blue*/
			padding-bottom: 0em;
			font-size: 1em;
		}

		header#main-head p {
				text-align: center;
				clear: float;
				font-family: 'Blenny', sans-serif;
				font-size: 2.25em;
				color: #89eab1;
				padding: 0em;
				margin: 0em;
			}

header#main-head{
	background-image: url("logo_main.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}

div#main ul {
	line-height: .3em;
	list-style-type: none;
}

.navbar {
	background-color: white;
	margin-top: 0em;
	height: 7em;
	border-bottom: 1.5em solid #003F43;
}

.navbar-brand img{
	width: 75%;
}

.navbar-nav {
	font-family: "bc-alphapipe", sans-serif;
	color: #003F43; /*dark blue*/

}

.nav-item{
	color: #003F43;
	border: 2px solid #003F43; /*dark blue*/
	border-radius: 14px;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 1em;
	height: 30%;
	width: 7em;
	padding: 4px;

}




	.button {
  background-color: #ffb200;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #f50000;
}

.multi_drop_menu {
	font-family: "bc-alphapipe", sans-serif;
	font-style: normal;
	height:3em;
	background-color: #003F43; /*orange*/
	margin-bottom: 2em;
	margin-top: 4em;
	border-right: 1px solid #FF5D2A;
	border-bottom: 4px solid #FF5D2A;
	border-radius: 5px;
	color: white;
	line-height: 2em;

	}

.multi_drop_menu ul {float:left;} /* forces ul to enclose floated li elements */
.multi_drop_menu li {
		float:left; /* makes menu horizontal */
		list-style-type:none; /* removes default bullets off lists */
		position:relative; /* position context for child list */
		}

.multi_drop_menu a {
	color:#003F43;  /*dark blue*/
	/* font-family: "bc-alphapipe", sans-serif; */
	font-style: normal;						/* text color*/
	background-color:#B4E6A7; 					/* light green */
	padding:1em 1.7em ;
	margin: 0 2em 4em 2em;					/* padding around link text */
	border-width:1px; 						/* divider width */
	border-color:transparent; 				/* divider color - can be 'transparent' */
	height: 1em;
	font-size: 1.2em;
	}
.multi_drop_menu a:hover {
	color:#017D8D; 							/* hover text color, light blue */
	background-color:#B4E6A7;				/* hover background color */
	border-color: #FF5D2A; /*red*/
	border-width: medium;
	}
.multi_drop_menu li a:active {
	background:#fff; 						/* b/g hilite when clicked */
	color:#ffb200;								/* text color hilite when clicked */
	background-clip:padding-box;			/* prevents border hiliting */
	}
.multi_drop_menu li ul {width:.8em;} 		/* width of 2nd, 3rd level menus */
.multi_drop_menu li li a {
	border-right-style:none;
	border-top-style:solid;
	}
.multi_drop_menu li li li a {
	border-left-style:solid;
}

.multi_drop_menu * {margin:0; padding:0;
					width: auto;
					}

.multi_drop_menu li a {
	display:block; /* makes link fill li */
	border-right-style:solid; /* adds a right border on the links */
	background-clip:padding-box; /* background only under padding, not border */
	text-decoration:none; /* removes link underlining */
	}
.multi_drop_menu li:last-child a {
	border-right-style:none;
	}
/* level 2*/
.multi_drop_menu li ul {
	width:5em;		/* width of 2nd, 3rd level menus */
	height: 3em;
	display:none; /* hides levels 2, 3, etc. */
	position:absolute; /* position relative to parent menu */
	left:0; /* aligns left of sub-menu to parent */
	top:100%; /* aligns to bottom of parent */
	}
.multi_drop_menu li:hover > ul {
	display:block; /* displays menu when parent hovered */
	}
.multi_drop_menu li li {
	position:relative; /* position context for child list */
	float:none; /* kills inherited float - makes list stack */
	}
/* level 3 */
.multi_drop_menu li li ul {
	position:absolute; /* position relative to parent menu */
	left:100%; /* aligns menu with right of parent */
	top:0; /* aligns with parent menu choice top */
	}

nav{ margin: 1em 0;}

img {
	width: 29%;
	float: left;
	padding: 1em;
}


h4 {
	padding: 3%;
	margin-left: 3%;
	}

a {
	color: white;
}

a:hover {
	font-size: larger;
	color: white;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left; 
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
	float: left;
}

	section img  {height:150px;
						border:1px solid blue; border-radius:5px;
						padding:5px;}


	section img:hover	{
							border:1px solid black; background-color:white;
							padding:10px;
							-webkit-transform:translate(450, -240);
							-moz-transform:translate(4);
							-ms-transform:scale(2);
							transform:scale(2);}


	section img:hover	{
							-webkit-box-shadow:4px 4px 10px rgba(0, 0, 0, 0.5);
							-moz-box-shadow:4px 4px 10px rgba(0, 0, 0, 0.5);
							-ms-box-shadow:4px 4px 10px rgba(0, 0, 0, 0.5);
							box-shadow:4px 4px 10px rgba(0, 0, 0, 0.5);

}

section p {padding: 0 2em 0 0;
						font-size: 1em;}
/*ß
	#leftmost img:hover	{-webkit-transform-origin:left 50%;
						-moz-transform-origin:left 50%;
						-ms-transform-origin:left 50%;
						transform-origin:left 50%;}

	#rightmost img:hover	{-webkit-transform-origin: right 50%;
							-moz-transform-origin: right 50%;
							-ms-transform-origin: right 50%;
							transform-origin: right 50%;}
*/

footer {
   /*position:absolute;*/
   font-family: "BebasNeue Regular.otf", sans-serif;
   background-color: #FF5D2A; /*red*/
   clear: both;
   text-align: center;
   width:100%;
   color: white;
   padding: 1% 1% 1%;

}

section#content-wrapper{
	background-color: none;
	width: 100%;
	Height: 100%;
	padding: 0 1%;

}

div#main{

	float: left;
	width: 73%;
	min-width: 450px;
	max-width: 800px;
	overflow-wrap: normal;
	padding: 1% 1%;
	font-family: 'source-sans-pro', sans-serif;
	font-style: light;
	font-size: 1.2em;
	margin-left: 2em;
	color: #052125;
	background-color: none;
	line-height: auto;
}

div#main h2{
	font-family: 'bc-alphapipe', sans-serif;
	color: #017D8D;   /* light blue*/
}

hr{
	width: 100%;
	height: 3px;
	background-color: #f50000;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}

/* .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}  */

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
	background-color: #00b3ba; /*blue*/
  border-radius: 50%;

}

/* On mouse-over, add a green background color */
.container:hover input ~ .checkmark {
  background-color: #89eab1;
}

/* When the radio button is checked, add a orange background */
.container input:checked ~ .checkmark {
  background-color: #ffb200;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

div#secondary{

	font-family: 'bc-alphapipe', sans-serif;
	color: #213439;
	background-color: #B4E6A7; /*light green*/
	border-radius: 2em;
	border-color: red;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	/*margin-left: 75%;*/
	padding: 15px 10px;
	min-width: 150px;
	max-width: 400px;
	float: right;
	height: 600px;

}

h2 {
	margin-bottom: 1em;
	font-size: 2.0em;
	color: #f50000;
	}

li {
	padding: 3%;
	margin-left: 3%;
	}

div#secondary p {font-size: 0.8em;}

div#secondary-head {
	font-family: 'JosefinSans', sans-serif;
}


/* "MECHANICAL" STYLINGS - ADJUST WITH CARE! */
/* menu mechanics */
/* level 1 */
