body {margin: 0; padding: 0;}


/* VISUAL STYLINGS - CHANGE AT WILL */
/* add class 'vertical' to nav for vertical top level menu */
/* font and colors*/

p, h1, h3, h4, h5, h6 {margin-bottom: 1em;
						}

	@font-face{
		font-family: 'BebasNeue Regular.otf';
		src: url('fonts/BebasNeue Regular.otf');
		}
	@font-face{
		font-family: 'KBSFEdge-HeavyItalic.ttf';
		src: url('fonts/KBSFEdge-HeavyItalic.ttf');
		}
	@font-face{
		font-family: 'Moriston-Regular.otf';
		src: url('fonts/Moriston-Regular.otf');
		}
	@font-face{
		font-family: 'BebasKai-Regular.otf';
		src: url('fonts/BebasKai-Regular.otf');
		}
	@font-face{
		font-family: 'JosefinSans-Regular.ttf';
		src: url('fonts/JosefinSans-Regular.ttf');
		}

background-repeat:no-repeat;

div#wrapper {
	margin: 2% 2%;

}


	header#main-head img {
			clear: float;
			padding: 0em;
			margin: 2em 2em;
			width: 25%;
		}


	header#main-head h2 {
			text-align: center;
			font-family: 'bc-alphapipe', sans-serif;
			clear: float;
			color: #017D8D;  /*light blue*/
			padding-bottom: 0em;
			font-size: 1em;
		}

		header#main-head p {
				text-align: center;
				clear: float;
				font-family: 'Blenny', sans-serif;
				font-size: 2.25em;
				color: #89eab1;
				padding: 0em;
				margin: 0em;
			}

header#main-head{
	background-image: url("logo_main.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;

}

div#main ul {
	line-height: .3em;
	list-style-type: none;
}

.navbar {
	background-color: white;
	margin-top: 0em;
	height: 8em;
	border-bottom: 1.5em solid #003F43;
}

.navbar-brand img{
	width: 75%;
}

.navbar-collapse {
	background-color: white;

}

.navbar-nav {
	font-family: "bc-alphapipe", sans-serif;
	color: #003F43; /*dark blue*/

}

.nav-item a{
	color: #003F43;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}


.navbar-toggle {
	background-color: black;
}

.navbar-toggler-icon{
	color: black;
	background-color: blue;
	height: 2.5em;
	width: 2.5em;
}

.navbar-toggler button{
		width: 3em;
		height: 5em;
		color: black;

}



	.button {
  background-color: #ffb200;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #f50000;
}

nav{ margin: 1em 0;}

img {
	width: 29%;
	float: left;
	padding: 1em;
}


h4 {
	padding: 3%;
	margin-left: 3%;
	}

a {
	color: white;
}


div.desc {
  padding: 15px;
  text-align: center;
	float: left;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

	section img  {
						width: 85%;
						height: 85%;
						border:10px solid #B4E6A7; border-radius:5px;
						padding:5px;}
}

section p {padding: 0 2em 0 0;
						font-size: 1em;}
/*ß
	#leftmost img:hover	{-webkit-transform-origin:left 50%;
						-moz-transform-origin:left 50%;
						-ms-transform-origin:left 50%;
						transform-origin:left 50%;}

	#rightmost img:hover	{-webkit-transform-origin: right 50%;
							-moz-transform-origin: right 50%;
							-ms-transform-origin: right 50%;
							transform-origin: right 50%;}
*/

footer {
   /*position:absolute;*/
   font-family: "BebasNeue Regular.otf", sans-serif;
   background-color: #003F43; /*dark blue*/
   clear: both;
   text-align: center;
   width:100%;
   color: white;
   padding: 1% 1% 1%;

}

section#content-wrapper{
	background-color: none;
	width: 100%;
	Height: 100%;
	padding: 0 1%;

}

div#main{

	float: left;
	width: 73%;
	min-width: 450px;
	max-width: 800px;
	overflow-wrap: normal;
	padding: 1% 1%;
	font-family: 'source-sans-pro', sans-serif;
	font-style: light;
	font-size: 1.2em;
	margin-left: 2em;
	color: #052125;
	background-color: none;
	line-height: auto;
}

div#main h2{
	font-family: 'bc-alphapipe', sans-serif;
	color: #017D8D;   /* light blue*/
	font-size: 3em;
}

hr{
	width: 100%;
	height: 3px;
	background-color: #f50000;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}

/* .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}  */

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
	background-color: #00b3ba; /*blue*/
  border-radius: 50%;

}

/* On mouse-over, add a green background color */
.container:hover input ~ .checkmark {
  background-color: #89eab1;
}

/* When the radio button is checked, add a orange background */
.container input:checked ~ .checkmark {
  background-color: #ffb200;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

div#secondary{

	font-family: 'bc-alphapipe', sans-serif;
	color: #213439;
	background-color: #B4E6A7; /*light green*/
	border-radius: 2em;
	border-color: red;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
	/*margin-left: 75%;*/
	padding: 15px 10px;
	min-width: 150px;
	max-width: 400px;
	float: right;
	height: 600px;

}

h2 {
	margin-bottom: 1em;
	font-size: 2.0em;
	color: #f50000;
	}

li {
	padding: 3%;
	margin-left: 3%;
	}

div#secondary p {font-size: 0.8em;}

div#secondary-head {
	font-family: 'JosefinSans', sans-serif;
}


/* "MECHANICAL" STYLINGS - ADJUST WITH CARE! */
/* menu mechanics */
/* level 1 */
